<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Estimating the number of infections and the impact of nonpharmaceutical interventions on COVID-19 in 11
        European countries - Imperial College London</title>
</head>

<body>
    <section id="covid19model">
    <nav class="navbar navbar-expand-lg navbar-custom shadow-sm mb-4">
        <a class="navbar-brand" href="http://www.imperial.ac.uk/mrc-global-infectious-disease-analysis/covid-19/">
            <img src="img/logo.jpg" alt="Imperial College London">
            COVID-19 model
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Countries
                    </a>
                    <div id="country-nav" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- set dynamically from JS -->
                        <a class="dropdown-item" href="#" v-for="country in countries" v-on:click="selected_country = country">
                            {{ country | pretty-name }}
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/ImperialCollegeLondon/covid19model">GitHub</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="text-center mb-4 mt-4" id="country-title">{{ selected_country | pretty-name }}</h1 class="text-center">

    <div class="container">
        <div class="row mt-4">
            <div class="col-md">
                <h4 class="text-center mb-3">Daily number of infections</h4>
                <responsive-figure v-bind:country="selected_country" type="infections" alt="Daily number of infections"></responsive-figure>
                <p class="small">
                    Daily number of infections, brown bars are reported infections, blue bands are predicted infections,
                    dark blue 50% credible interval
                    (CI), light blue 95% CI.
                </p>
                <p class="small">
                    The number of daily infections estimated by our model drops immediately after an
                    intervention, as we assume that all infected people become immediately less infectious through the
                    intervention. Afterwards, if the R<sub>t</sub> is above 1, the number of infections will starts
                    growing again.
                </p>
            </div>
            <div class="col-md">
                <h4 class="text-center mb-3">Deaths</h4>
                <responsive-figure v-bind:country="selected_country" type="deaths" alt="Deaths"></responsive-figure>
                <p class="small">Daily number of deaths, brown bars are reported deaths, blue bands are predicted
                    deaths, dark blue 50% credible interval (CI), light blue 95% CI.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md">
                <h4 class="text-center mb-3">Reproduction number R<sub>t</sub></h4>
                <responsive-figure v-bind:country="selected_country" type="rt" alt="Reproduction number Rt"></responsive-figure>
                
                <p class="small">Time-varying reproduction number R<sub>t</sub>
                    , dark green 50% CI, light green 95% CI.
                    Icons are interventions shown at the time they occurred.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-8 offset-md-2">
                <h4 class="text-center mb-3">Forecast</h4>
                <responsive-figure v-bind:country="selected_country" type="forecast" alt="Forecast"></responsive-figure>
                <p class="small">The lag between deaths and infections means that
                    it takes time for information to propagate backwards from deaths to infections, and ultimately to
                    R<sub>t</sub>.
                    A conclusion of this report is the prediction of a slowing of R<sub>t</sub>
                    in response to major interventions. To
                    gain intuition that this is data driven and not simply a consequence of highly constrained model
                    assumptions, we show death forecasts on a log-linear scale. On this scale a line which curves below
                    a linear trend is indicative of slowing in the growth of the epidemic.
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt-5" v-if="interventions[selected_country]">
            <div class="col-md-8">
                <h2 class="text-center w-100 mb-5 mt-4">Timeline of interventions</h2>
                <timeline-card v-for="intervention in interventions[selected_country]"
                    v-bind:date="intervention.date"
                    v-bind:title="intervention.name"
                    v-bind:text="intervention.description"
                    v-bind:sources="intervention.sources"></timeline-card>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <p>
                    Last updated <span id="last_update">{{ latest_updates[selected_country] }}</span>.
                    <br>
                    The results are updated daily. Any comments or suggestions, please contact the authors of the
                    <a target="_blank"
                        href="https://www.imperial.ac.uk/media/imperial-college/medicine/sph/ide/gida-fellowships/Imperial-College-COVID19-Europe-estimates-and-NPI-impact-30-03-2020.pdf">paper</a>.
                </p>
            </div>
        </div>
    </div>
    </section>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"
        integrity="sha256-lqvxZrPLtfffUl2G/e7szqSvPBILGbwmsGE1MKlOi0Q=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js" 
        integrity="sha256-NSuqgY2hCZJUN6hDMFfdxvkexI7+iLxXQbL540RQ/c4=" 
        crossorigin="anonymous"></script>
    <script src="components/timeline-card.js"></script>
    <script src="components/responsive-figure.js"></script>
    <script src="utils/filters.js"></script>
    <script src="App.js"></script>

    <footer class="w-100 pl-5 pr-5 pt-3 pb-3 mt-5">
        <p class="small mb-0">Model source: Seth Flaxman, Swapnil Mishra, Axel Gandy et al. Estimating the number of
            infections
            and the impact of nonpharmaceutical interventions on COVID-19 in 11 European countries. <br>
            Imperial College London (2020), doi: <a
                href="https://doi.org/10.25561/77731">https://doi.org/10.25561/77731</a></p>
    </footer>
</body>

</html>